/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sideMenu {
    width: 25%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile p {
    color: blue;
    font-size: 16px;
    margin: 0;
}

.profile a {
    text-decoration: none;
    color: blue;
}

.profile a:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.navigation {
    flex: 1;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-bottom: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    background-color: blue;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-links a:hover {
    background-color: lightblue;
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.formContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.makeAppoinment {
    margin-left: 30%;
    margin-top: 90px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set form width */
    box-sizing: border-box;
}
.makeAppoinment input[type="date"]{
    width: 100%; 
    height: 50px;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    color: darkgray;
}


.makeAppoinment button {
    height: 50px;
    width: 80px;
    background-color: #032233;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
input[type="radio"] {
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s; 
}

input[type="radio"]:hover {
    transform: scale(1.1); 
}

input[type="radio"]:checked {
    background-color: blue; 
}
table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
tr {
    height: 20px;
}
th {
    background-color: #f2f2f2;
}
h2{
    color: #032233;
    text-align: left;
    font-size: 14pt;
}
table a{
    background-color: #032233;
    color: white; 
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
}
table a:hover {
    background-color: #0870a7; 
    color: white; 
    transition: background-color 0.3s ease; 
}
input[type="text"],
input[type="email"],
input[type="time"],
select,
textarea,
input[type="file"],
input[type="password"] {
    width: 100%;
    height: 50px;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    color: darkgray;
}

textarea {
    height: 100px;
    resize: none;
}

.makeAppoinment button:hover {
    background-color: #0870a7;
    transform: scale(1.05);
}

.cancel {
    background-color: red;
    color: white; 
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
}

.cancel:hover {
    background-color: #ff4d4d; 
    color: white; 
    transition: background-color 0.3s ease; 
}
.makeAppoinment img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}